{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <main>
        <div class="two-col-layout">
            <div class="col1">
                <h1>Report</h1>
                <h2 id="kmom01">Kmom01</h2>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                bling-bang-bom<br>
                <h2 id="kmom02">Kmom02</h2>
                <h2 id="kmom03">Kmom03</h2>
                <h2 id="kmom04">Kmom04</h2>
                <h2 id="kmom05">Kmom05</h2>
                <h2 id="kmom06">Kmom06</h2>
                <h2 id="kmom07">Kmom07</h2>
                <h2 id="kmom10">Kmom10</h2>
            </div>
            <div class="col2">
                <ul>
                    <li><a href="#kmom01">Kmom01</a></li>
                    <li><a href="#kmom02">Kmom02</a></li>
                    <li><a href="#kmom04">Kmom03</a></li>
                    <li><a href="#kmom04">Kmom04</a></li>
                    <li><a href="#kmom05">Kmom05</a></li>
                    <li><a href="#kmom06">Kmom06</a></li>
                    <li><a href="#kmom07">Kmom07</a></li>
                    <li><a href="#kmom10">Kmom10</a></li>
                </ul>
            </div>
        </div>
    </main>
{% endblock %}